@model CascadingModel
@*@{
        Layout = null;
    }*@

<div class="align-content-center" style="text-align: center;">
    @using (Html.BeginForm("AddFavoriteTeam", "Home", FormMethod.Post))
    {
            @Html.DropDownListFor(model => Model.LeagueID, Model.Leagues, "Choose League", new { @class = "select-fav-teams" }) <span>&ensp;</span>
        if (Model.Teams.Count > 0)
            {
                @Html.DropDownListFor(model => Model.TeamID, Model.Teams, "Choose Team", new { @class = "select-fav-teams" }) <span>&ensp;</span>
        }

        <input type="submit" value="Submit" class="btn btn-dark" />
    }
</div>