@model FinalProject.Models.VideoComments

@{
    ViewData["Title"] = "EditComment";
}

<h1>EditComment</h1>

<h4>VideoComments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SubmitComment" method="post"> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="hidden" asp-for="VideoId" class="form-control" asp-items="@Model.VideoId"></input>
                <span asp-validation-for="VideoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UserId" class="form-control" asp-items="@ViewData["userId"]"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoComment" class="control-label"></label>
                <input asp-for="VideoComment" class="form-control" />
                <span asp-validation-for="VideoComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

