<form>
    <p>
        <label for="league">Select league</label>
        <select name="league" id="league">
            <option value="en.1">England</option>
            <option value="es.1">Spain</option>
            <option value="de.1">Germany</option>
            <option value="it.1">Italy</option>
            <option value="fr.1">France</option>
        </select>
        <label for="season">Select season</label>
        <select name="season" id="season">
            <option value="2020-21">2020/2021</option>
            <option value="2019-20">2019/2020</option>
        </select>
        <input type="submit" asp-controller="Home" asp-action="MatchResults" value="Results" formmethod="post" />
        <input type="submit" asp-controller="Home" asp-action="LeagueTeams" value="Teams" formmethod="post" />
        <input type="submit" asp-controller="Home" asp-action="LeagueStandings" value="Standings" formmethod="post" />
</form>

<form asp-controller="Home" asp-action="Quiz" method="get">
    <p>
        <label for="league">Select league</label>
        <select name="league" id="league">
            <option value="en.1">England</option>
            <option value="es.1">Spain</option>
            <option value="de.1">Germany</option>
            <option value="it.1">Italy</option>
            <option value="fr.1">France</option>
        </select>
        <label for="season">Select season</label>
        <select name="season" id="season">
            <option value="2020-21">2020/2021</option>
            <option value="2019-20">2019/2020</option>
        </select>
        <input type="submit" value="Quiz" />
    </p>
</form>

<form asp-controller="Home" asp-action="RecentHighlights">
    <input type="submit" value="Recent Highlights" />
</form>