<form asp-controller="Home" asp-action="MatchResults">
    <p>
        <label for="league">Select league</label>
        <select name="league" id="league">
            <option value="en.1">English Premier League</option>
            <option value="es.1">Spanish Primera División</option>
            <option value="de.1">German Bundesliga</option>
            <option value="it.1">Italian Serie A</option>
            <option value="fr.1">French Ligue 1</option>
        </select>
        <input type="submit" />
    </p>
</form>
<form asp-controller="Home" asp-action="RecentHighlights">
    <input type="submit" value="Recent Highlights"/>
</form>