@model MatchProbabilityViewModel

@{
    ViewData["Title"] = "Probability";
}

<h1>Probability</h1>

@{double difference = 0;}
<table class="table">
    <thead>
        <tr>
            <th>
                First Team
            </th>
            <th>
                Second Team
            </th>
            <th>
                Score for First Team
            </th>
            <th>
                Score for Second Team
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Team1)
                <br />
                @if (Model.Team1Score > Model.Team2Score)
                {
                    difference = Model.Team1Score - Model.Team2Score;
                    @if (difference > 2)
                    {
                        <h3>Projected Winner</h3>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Team2)
                <br />
                @if (Model.Team2Score > Model.Team1Score)
                {
                    difference = Model.Team2Score - Model.Team1Score;
                    @if (difference > 2)
                    {
                        <h4>Projected Winner</h4>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Team1Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Team2Score)
            </td>
        </tr>
    </tbody>
</table>
@if (difference <= 2)
{
    <h1>Projected Tie</h1>
}
