/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: dimgray;
  border-color: #1861ac;
  
}

a:hover {
    color: thistle;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #4d64b2;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Tahoma;
    color: silver;
}

.bg-custom {
    background-image: url(../img/background.jpg) !important;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.rTable {
    display: table;
    margin:10px;
}

.rTableRow {
    display: inline-flex;
}


.rTableHeading {
    display: table-header-group;
}

.rTableBody {
    display: table-row-group;
}

.rTableFoot {
    display: table-footer-group;
}

.rTableCell, .rTableHead {
    padding: .5em;
    display: table-cell;
    position: relative;
    background-color: darkslategrey;
    border: none;
    overflow: scroll;
    overflow-x: hidden;
    height: 486px;

}
.rTableCellUserFavorite, .rTableHead {
    padding: .5em;
    display: block;
    position: relative;
    background-color: darkslategrey;
    border: none;
    overflow: scroll;
    overflow-x: hidden;
    height: 486px;
}

    .rTableCell #commentHeader {
        background-color: darkslategrey;
        display: inline-block;
        vertical-align: top;
        width: -webkit-fill-available;
    }

    .rTableCell #commentBody {
        background-color: darkolivegreen;
        display: inline-block;
        vertical-align: top;
        width: -webkit-fill-available;
        margin: 10px;
    }
    .rTableCell #commentForm {
        background-color: darkslategrey;
        padding-top: 2em;
        width: -webkit-fill-available;
    }

.rTableCellVideo {
    padding: 0;
    position: relative;
    display: inline-block;
}

#rTableCellVideo div {
    height: 100% !important;
    padding: 20em;
    position: relative;
    display: block;
    padding-bottom: 15em !important;
    padding-left: 30em;
    padding-right: 30em;
    padding-top: 15em;
}

#commentContainer {
    display: block;
    vertical-align: top;
    margin: auto;
    max-height:inherit;
}

#indexContainer {
    min-height: 800px;
}

#indexForm {
    border-radius: 25px;
    background-color: rgba(12, 12, 12, 0.8);
    padding: 3em;
    min-height: 25%;
    margin-top: 20em;
    width: 50%;
}

#BtnAddFavoriteVideo{
    text-align:end;
    margin-bottom:1em;
    float:right;
}

td {
    color: silver;
}


.standingsSort{
    justify-content: left;
    align-content: center;
}

.select-items {
    background-color: #343a40;
    border: 2px solid black;
    color: #fff;
}

.select-fav-teams {
    background-color: #343a40;
    border: 2px solid black;
    color: #fff;
    width: auto;
    padding-right: 1.5em;
    background-position-x: 95%;
}

select {
    width: 100px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-position-x: 75px;
}
